.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.alert {
  margin-left: 70rem;
  margin-right: 5rem;
  text-align: center;
}

.btn-primary {
  background-color: #f59da0;
  border-color: #f59da0;
}

.btn-primary:hover {
  background-color: #ff7c80;
  border-color: #ff7c80;
}

.col-md-9 ,.col-md-8{
  padding-right: 0;
  padding-left: 0;
}